<div>
  <h3>{{ type | gameType }}</h3>
  <p><strong>Rating: </strong> {{rating}}</p>
  <p><strong>Win Ratio: </strong> {{getWinLoss(games)}}</p>
  <p>
    <strong matTooltip="In games against you, this player has lost the most points." matTooltipPosition="right">
      I {{ '' | mostPointsWonAgainstPipe }}:
    </strong>
    <span *ngIf="mostWonAgainst">
          {{ mostWonAgainst.player.firstName }}
          {{ mostWonAgainst.player.lastName[0] }}.
          ({{ mostWonAgainst.stat }} points)
          </span>
  </p>
</div>
