.game-lists {
  display: flex;
  flex-wrap: wrap;
}

.game-list {
  flex: 1;
  padding: 1em;
  flex-basis: 45%;

  &:last-of-type {
    padding-left: 0;
  }
}

.spacer {
  flex-basis: 50%;
}

.recent-games-game-type {
  display: flex;
  flex-direction: column;
}

.recent-games-game-name {
  margin-bottom: 0;
}

.recent-games-season-text {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.33);
  margin-bottom: 1.5em
}
