<div class="page-with-content mat-title">
  <h1>{{ player?.firstName }} {{ player?.lastName }}</h1>
</div>

<div *ngIf="player" class="page-with-content stats-and-history">
  <mat-card>
    <mat-card-content>
      <div style="width: 100%; height: 400px;">
        <app-player-rating-graph
          [aggregatedRatings]="aggregatedRatings"
          [gameTypes]="gameTypes"
        ></app-player-rating-graph>
      </div>

      <div *ngFor="let type of getTypesPlayerHasGamesFor()">
        <app-game-type-details
          [gameType]="type"
          [games]="gameTypeToGames.get(type.typeName)"
          [playerId]="player.id"
          [rating]="getRating(type)"
        >
        </app-game-type-details>
      </div>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <mat-tab-group>
        <div *ngFor="let type of gameTypes">
          <mat-tab *ngIf="hasRating(type)" label="{{ type.displayValue }}">
            <app-game-list
              [games]="getGamesForType(type)"
              [playerId]="player.id"
              [type]="type"
            ></app-game-list>
          </mat-tab>
        </div>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
