<div class="page-with-content mat-title">
  <h1>{{ player?.firstName }} {{ player?.lastName }}</h1>
</div>

<div class="page-with-content stats-and-history" *ngIf="player">
  <mat-card>
    <mat-card-content>
      <div style="width: 100%; height: 400px;">
        <app-player-rating-graph
          [aggregatedRatings]="aggregatedRatings"
          [gameTypes]="gameTypes"
        ></app-player-rating-graph>
      </div>

      <div *ngFor="let type of getTypesPlayerHasGamesFor()">
        <app-game-type-details
          [gameType]="type"
          [rating]="getRating(type)"
          [games]="gameTypeToGames.get(type.typeName)"
          [playerId]="player.id"
        >
        </app-game-type-details>
      </div>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <mat-tab-group>
        <div *ngFor="let type of gameTypes">
          <mat-tab label="{{ type.displayValue }}" *ngIf="hasRating(type)">
            <app-game-list
              [playerId]="player.id"
              [type]="type"
              [games]="getGamesForType(type)"
            ></app-game-list>
          </mat-tab>
        </div>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
