<mat-card class="page-with-content">
  <mat-card-content>
    <h1>Game Submission</h1>
    <form>

      <h3>Sport</h3>
      <mat-form-field>
        <mat-select (selectionChange)="populateFormArrayLengths()" [formControl]="gameControl"
                    placeholder="Select a game">
          <mat-option *ngFor="let game of gameTypes" [value]="game">{{game.displayValue}} {{game.firstTeamSize}}v{{game.secondTeamSize}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div [ngClass]="{'mask-input-controls': inputMasking()}" class="mask-input-controls">
        <h3>First Team</h3>

        <mat-form-field *ngFor="let control of firstTeam.controls; let i = index">
          <mat-select [formControl]="control" placeholder="Select a player">
            <mat-option *ngFor="let player of players" [value]="player.id">{{player.firstName}} {{player.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h3>Second Team</h3>

        <mat-form-field *ngFor="let control of secondTeam.controls; let i = index">
          <mat-select [formControl]="control" placeholder="Select a player">
            <mat-option *ngFor="let player of players" [value]="player.id">{{player.firstName}} {{player.lastName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h3>Winning Team</h3>
        <mat-form-field>
          <mat-select [formControl]="winningTeamControl" placeholder="Select the winning team">
            <mat-option [value]="'FIRST_TEAM'">First Team</mat-option>
            <mat-option [value]="'SECOND_TEAM'">Second Team</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="submit()" mat-button>SUBMIT</button>
  </mat-card-actions>
</mat-card>
