<mat-card class="page-with-content">
  <mat-card-content>
    <h1>Season Configuration</h1>
    <form>
      <h3>Increment Season</h3>
      <mat-form-field>
        <mat-select [formControl]="gameControl"
                    placeholder="Select a game">
          <mat-option *ngFor="let game of gameTypes" [value]="game">{{game.displayValue}} {{game.firstTeamSize}}v{{game.secondTeamSize}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="submit()" mat-button>SUBMIT</button>
  </mat-card-actions>
</mat-card>
