<span *ngIf="isVeryHot"
      class="x-large"
      matTooltip="On fire! (5+ wins)"
      matTooltipPosition="right">
  {{value | streak}}
</span>
<span *ngIf="isHot"
      class="x-large adjustPadding"
      matTooltip="Heating up! (3+ wins)"
      matTooltipPosition="right">
  {{value | streak}}
</span>
<span *ngIf="neutral"
      class="x-large">
  {{value | streak}}
</span>
<span *ngIf="isCold"
      class="cold xx-large adjustPadding"
      matTooltip="Getting cold... (3+ losses)"
      matTooltipPosition="right">
  {{value | streak}}
</span>
<span *ngIf="isFrozen"
      class="very-cold-large"
      matTooltip="Frozen! (5+ losses)"
      matTooltipPosition="right">
  {{value | streak}}
</span>
