.leaderboards {
  display: flex;
  flex-wrap: wrap;
}

// TODO: styling to handle the last child, when odd, not aligning with other lists

.leaderboard {
  flex: 1;
  padding: 1em;
  flex-basis: 300px;

  &:last-of-type {
    padding-left: 0;
  }
}
