/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "theme";

html, body {
  margin: 0;
  padding: 0;
}

.page-with-content {
  margin: 1em;
}

a {
  color: mat-color($candy-app-primary);
  text-decoration: none;

  &:hover {
    color: #cc3e00;
    text-decoration: underline;
  }
}
