<div class="game-list--container">
  <div class="game-list--item"
       *ngFor="let game of pagedGames; let i = index"
       [class.is-win]="isWin(i)"
       [class.is-loss]="isLoss(i)"
  >
    <!--    TODO this can be extracted later and reused per team -->
    <div class="game-list--team">
      <div class="game-list--player" *ngFor="let player of game.teamA">
        <div class="game-list--player-name">
          <a href="/players/{{player.id}}">
            {{ getFullName(player) }}
          </a>
        </div>
        <div class="game-list--player-rating">
          <app-numeric-stoplight [value]="getRatingDelta(player)"></app-numeric-stoplight>
        </div>
      </div>
    </div>

    <div class="game-list--middle-badge">
      <div class="game-list--victory caption">VICTORY</div>
      <div class="game-list--vs">
        <span class="game-list--vs-line"></span>
        vs
        <span class="game-list--vs-line"></span>
      </div>
      <div class="game-list--defeat caption">DEFEAT</div>
    </div>

    <div class="game-list--team">
      <div class="game-list--player" *ngFor="let player of game.teamB">
        <div class="game-list--player-name">
          <a href="/players/{{player.id}}">
            {{ getFullName(player) }}
          </a>
        </div>
        <div class="game-list--player-rating">
          <app-numeric-stoplight [value]="getRatingDelta(player)"></app-numeric-stoplight>
        </div>
      </div>
    </div>

  <mat-paginator *ngIf="games.length > pageSizes[0]"
                 [pageSizeOptions]="pageSizes"
                 [length]="games.length"
                 (page)="onPageChanged($event)">
  </mat-paginator>
</div>
