.game-list--container {
  display: flex;
  flex-direction: column;
}

.game-list--item {
  display: flex;
  flex-direction: column;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  &:last-child {
    border-bottom: none;
  }
}

.game-list--row {
  display: flex;
  justify-content: space-between;
}

.game-list--vs {
  font-weight: 500;
  text-align: center;
}

.player-entry {
  flex-basis: 100px;

  &:last-child {
    text-align: right;
  }
}

.spacer {
  flex: 1;
}

.player-rating {
  flex: 1;
  text-align: center;
}
