<mat-card>
  <mat-card-content>
    <h1>{{type.name}}</h1>

    <div class="game-list--container">
      <div class="game-list--item" *ngFor="let game of games">
        <div class="game-list--row">
          <div class="player-entry">{{ getFullName(game.teamA[0]) }}</div>
          <div class="player-rating"><app-numeric-stoplight [value]="getRatingDelta(game.teamA[0])"></app-numeric-stoplight></div>
          <div class="spacer"></div>
          <div class="player-rating"><app-numeric-stoplight [value]="getRatingDelta(game.teamA[1])"></app-numeric-stoplight></div>
          <div class="player-entry">{{ getFullName(game.teamA[1]) }}</div>
        </div>

        <div class="game-list--vs">vs.</div>

        <div class="game-list--row">
          <div class="player-entry">{{ getFullName(game.teamB[0]) }}</div>
          <div class="player-rating"><app-numeric-stoplight [value]="getRatingDelta(game.teamB[0])"></app-numeric-stoplight></div>
          <div class="spacer"></div>
          <div class="player-rating"><app-numeric-stoplight [value]="getRatingDelta(game.teamB[1])"></app-numeric-stoplight></div>
          <div class="player-entry">{{ getFullName(game.teamB[1]) }}</div>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>
